.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.5rem;
}

.footer__titulo {
    align-items: center;
    color: var(--fuente-ceniza-oscuro);
    display: flex;
    font-family: var(--Raleway);
    font-size: 0.8rem;
    font-weight: 700;
    flex-direction: column;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}
