.header {
    align-items: center;
    background: var(--background-mobile-azul);
    border-bottom: 1px solid var(--border-cabecera-mobile);
    box-sizing: border-box;
    color: var(--fuente-blanco);
    display: flex;
    flex-direction: column;
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
    position: absolute;
    width: 100%;
}

.header__log{
    display: none;
}

.header__nav {
    text-align: center;
}

.header__link {
    display: inline-block;
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    transition: 0.5s;
    
}

.header__link:nth-last-child(1){
    font-weight: 700;
}

.header__link:hover {
    color: var(--fuente-celeste)
}

@media screen and (min-width: 1024px) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background: var(--background-gradient-azul);
        align-items: flex-end;
    }

    .header__log{
        display: flex;
        width: 90px;
        border-radius: 5px;
    }
}
