.sobre_mi{
    align-items: center;
    background: var(--background-ceniza-medio);
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}

.sobre_mi__titulo {
    font-family: var(--Raleway);
    font-size: 1.5rem;
    font-weight: 700;
}

.sobre_mi__texto {
    font-size: 1rem;
    margin-top: 0.5rem;
    line-height: normal;
}

@media screen and (min-width: 1024px) {
    .sobre_mi__texto{
        line-height: 2rem;
    }
}